/* start of global styles */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
    position: relative;
  }
  /* start of  variables */
  :root {
    --main-color: #10cab7;
    --scond-color: #000000;
    --third-color: #777777;
    --fourth-color: #ebeced;
    --sixth-color: #ffffff;
    --seventh-color: #f6f6f6;
    --main-trans: 0.3s;
    --section-padding: 60px;
  }
  /* end of  variables */
  /*my frame work*/
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .special-heading {
    font-weight: 800;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: -4px;
    color: var(--fourth-color);
    text-align: center;
    margin: 0px 0px -51px 0;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
  }
  .special-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #797979;
  }
  @media (max-width: 767px) {
    .special-paragraph {
      font-size: 20px;
    }
  }
  .DiscernibleName{
    display: none;
  }
  /*start of media query*/
  /* small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    } 
  }
  /* medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /*end of media query*/
  /* end of global styles */
  /* start of header */
  body .header {
    padding: 20px;
    width: 100%;
  }
.up{
  display: inline-block;
  position: fixed;
  top: 94%;
  right: 8%;
  text-decoration: none;
  }
.up i{
    font-size: 30px;
    color: var(--main-color);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
  }
  .header .up i:hover{
    font-size: 50px;
    color: var(--third-color);
  
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .logo {
    width: 60px;
  }
  .container .iconlist {
    position: relative;
  }
  .container .iconlist .icon {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .container .iconlist .icon span {
    width: 100%;
    margin: 3px;
    background-color: var(--scond-color);
    border: 1px solid var(--scond-color);
  }
  .container .iconlist .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
  }
  .container .iconlist:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .container .iconlist ul::before {
    content: "";
    border-color: transparent transparent var(--seventh-color) transparent;
    border-style: solid;
    border-width: 18px;
    position: absolute;
    top: -36px;
    right: 0px;
  }
  .container .iconlist ul {
    position: absolute;
    right: 0px;
    top: calc(100% + 15px);
    list-style: none;
    padding: 0%;
    margin: 0%;
    min-width: 220px;
    background-color: var(--seventh-color);
    display: none;
    z-index: 1;
  }
  .container .iconlist:hover ul {
    display: block;
  }
  .container .iconlist ul li a {
    color: var(--scond-color);
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
  }
  .container .iconlist ul li a:hover {
    padding-left: 25px;
  }
  /* end of header */
  /* start of landing */
  .land {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: minmax(100px, 300px);
    align-content: center;
    justify-content: center;
  }
  .land .landIntro {
    text-align: center;
  }
  .land .landIntro h2 {
    color: var(--main-color);
    margin: 0px;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
  }
  .land .landIntro p {
    font-size: 19px;
    font-weight: 400;
    line-height: 34px;
  }
  /* end of landing */
  /* start of features */
  .features {
    background-color: var(--seventh-color);
    padding: var(--section-padding) 0px;
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-between;
  }
  .features .container .feet {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .features .container .feet i {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-color);
  }
  
  .features .container .feet h2 {
    font-size: 19px;
    font-weight: 800;
    line-height: 22px;
  }
  .features .container .feet p {
    font-size: 17px;
    font-weight: 400;
    line-height: 31px;
  }
  /* end of features */
  /*start of services */
  *.services {
    padding: var(--section-padding) 0px;
  }
  .services .container .servCont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 45px;
    padding-top: 60px;
  }
  .services .container .servCont .col {
    column-gap: 5px;
  }
  .services .container .servCont .col .serv {
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
  }
  @media (max-width: 767px) {
    .services .container .servCont .col .serv {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 1199px) {
    .services .container .servCont .col:last-child {
      display: none;
    }
  }
  .services .container .servCont img {
    width: 277px;
  }
  
  .services .container .col:last-child {
    min-width: 250px;
    position: relative;
  }
  .services .container .col:last-child::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -9%;
    width: 125px;
    right: 0%;
    height: 435px;
    background-color: #2c4755;
    border: 1px solid #2c4755;
  }
  
  .col .serv i {
    color: var(--main-color);
    line-height: 32px;
    font-size: 32px;
    font-weight: 900;
  }
  @media (min-width : 768px) {
    .col .serv .text {
      padding-left: 25px;
      text-align: start;
    }
  }
  .col .serv .text h3 {
    color: var(--scond-color);
    font-size: 19px;
    line-height: 22px;
  }
  .col .serv .text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #444;
  }
  /*end of services */
  /*start of Portfolio */
  .Portfolio{
  padding: var(--section-padding) 0px;
  background-color:var(--seventh-color);
  }
  .Portfolio .portCont{
  display: grid;
  column-gap: 45px;
  grid-template-columns:repeat(auto-fill , minmax(300px ,1fr)) ;
  padding-top: 60px;
  }
  .Portfolio .portCont .col{
  background-color: var(--seventh-color);
  }
  .Portfolio .portCont .col img{
  max-width: 100% ;
  }
  .Portfolio .portCont .col .card{
    text-align: start;
  }
  .Portfolio .portCont .col .card h2 {
    font-size: 19px;
    font-weight: 800;
    line-height: 22px;
  }
  .Portfolio .portCont .col .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  /*end of Portfolio */
  /*start of about */
  .about{
  padding: var(--section-padding) 0px;
  background-color:var(--sixth-color);
  }
  .about .aboutCont{
  padding-top: 60px;
  display: grid;
  column-gap: 150px;
  grid-template-columns:300px  minmax(300px , 1fr);
  
  }
  .about .aboutCont .image{
    width: 250px;
    height:375px;
    position: relative;
    z-index: 3;
    margin: 40px 0px;
  }
  .about .aboutCont img{
    max-width: 100%;
  }
  .about .aboutCont .image::before{
    content: "";
    position: absolute;
    width: 118px;
    height: 433px;
    top: -33px;
    left: -25px;
    border: 1px solid #eaeae8;
    background-color: #eaeae8;
    z-index: -1;
  }
  .about .aboutCont .image::after{
    content: "";
    position: absolute;
    width: 128px;
    height: 289px;
    top: -31px;
    right: -153px;
    z-index: -1;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
  }
  @media (max-width : 767px){
    .about .aboutCont .image::after,.image::before{
      display: none;
    }
    .about .aboutCont{
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      }
  }
  @media (max-width : 991px){
    .about .aboutCont{
      column-gap: 20px;
      }
      .about .aboutCont .image::after,.image::before{
        display: none;
      }
  .about .aboutCont .text{
    padding: 10px;
  }
  }
  .about .aboutCont .text hr{
    border: 1px solid var(--main-color);
    width: 150px;
  }
    
  .about .aboutCont .text p:first-child{
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: var(--scond-color);
    margin: 40px 0px;
  }
  .about .aboutCont .text p:last-child{
    font-size: 16px;
    font-weight: 400px;
    line-height: 32px;
    color: var(--third-color);
    margin: 40px 0px;
  }
  /*end of about */
  /*start of contact */
  .contact{
    padding: var(--section-padding) 0px;
    background-color: var(--seventh-color);
    height: 75vh;
  }
  
  .contact .conCont{
    padding: var(--section-padding) 0px;
    display: grid;
    grid-template-columns: minmax(250px , 1fr);
  }
  .contact .conCont .p1{
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
    color: #2c4755;
    letter-spacing:-2px;
    margin: 15px;
  }
  .contact .conCont .link{
    font-size: 35px;
    font-weight: 800;
    line-height: 40px; 
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: -2px;
    
  }
  .contact .conCont  .p2{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--scond-color); 
    display:inline-block
  }
  .contact .conCont i{
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    color: #2c4755; 
  }
  .contact .conCont span{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--scond-color); 
    display: inline-block;
  }
  @media (max-width: 767px) {
    .contact .conCont .p1 , .contact .conCont  .link{
      font-size: 20px;
    }
  }
    .contact .conCont span{
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: var(--scond-color); 
      display: inline-block;
  
  }
  /*end of contact */
  /*start of footer */
  footer{
    background-color:#2C4755;
    text-align: center;
    color: #ffffff;
    height: 13vh;
  }
  footer p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding: 28px 0px;
    margin: 0px;
  }
  footer span{
    color: var(--main-color);
  }
  /*end of footer */
  